@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-family: anton, sans-serif;
}

.logo-table {
    width: 1800px;
}

.logo {
    float: left;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.logo-text a {
    float: left;
    color: black;
    text-decoration: none;
}

#menu {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* #menu #logo {
    line-height: 75px;
} */

#menu li {
    
    float: right;
    list-style-type: none;
    /* margin-top: 2rem; */
    margin-right: 2rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}