@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;800&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    background-color: white;
}

/* h1 {
    font-weight: 800;
    font-size: 35px;

} */