/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass:wght@400;800&display=swap');

/* main attributes */

:root {
    --primary: #000;
    --dark: #6a6a6a;
    --light: #fff;
    --h: #474E68;
    --shadow: 0px 1px 10px rgb(104, 104, 104, 0.9);
}

* {
    padding: 0;
    margin: 0px;
}

html {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    color: var(--dark);
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
    text-align: justify;
    color: var(--primary);
}
body {
    background: var(--light);
    line-height: 1.4;
    
}

img {
    max-width: 100%;
}

.btn {
    background: var(--dark);
    color: var(--primary);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.4rem;
    border: 0;
    text-decoration: none;
    box-shadow: var(--shadow);

}

button a {
    text-decoration: none;
    color: var(--primary);
}

/* logo aminmation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Navigation  */

.main-grid {
    display: grid;
    grid-template-areas: 
    "logo navbar"
    "event side-ad"
    "second-p second-p"
    "sutton galway-2"
    "about-us sponsors";
    /* grid-template: repeat(2, minmax(250px, 1fr)); */
    grid-template: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 5rem;
    margin: 1rem;
    position: relative;
}


 /* Logo */
.logo {
    grid-area: logo;
    background: var(--light);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    
}

.logo img {
    width: 12.5rem;
    height: 3.3rem;
}

 .logo h1{
    font-family: 'Anton';
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: .4rem;
    font-size: 3rem;
   
 }
.logo a {
     text-decoration: none;
}
 .logo:hover {
    animation: shake .5s;
}


/* Navigation bar */
nav {
    position: sticky;
    top: 0;
}

.navbar #menu {
    grid-area: navbar;
    background: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

#menu a {
    background: var(--light);
    display: block;
    width: 15rem;
    height: fit-content;
    margin: 4rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    box-shadow: var(--shadow);
    opacity: 1;
    transition: 0.7s;
    border-bottom: 2px solid transparent;
    align-items: center;
    
}

/* navigation transition */
.navbar a:hover {
    background-color: #f5f5f5;
    opacity: 1;
    border-bottom: 2px solid #808080
}

/* Add a drop list to location button */
.dropdlist {
    background: var(--light);
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    box-shadow: var(--shadow);
    overflow: hidden;
    margin-top: 4rem;
}

.drop-content {
    display: none;
    position: absolute;
    margin-top: .4rem;
    background-color: whitesmoke;
    min-width: 20px;
    box-shadow: var(--shadow);
    opacity: .7;

}

/* Navigation to each course page with transition */
.drop-content a {
    float: left;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 2px solid transparent;
    margin: 10px;
    z-index: 1;

}

.drop-content a:hover {
    background-color: #ddd;
    border-bottom: 2px solid gray;

}

.dropdlist:hover .drop-content {
    display: block;
}

/* landing page  */
.event {
    grid-area: event;
    /* background: rgb(255, 220, 169, 0.7); */
    min-width: 80rem;
    color: var(--primary);
    background: var(--light);
}

.event p {
    padding: 1rem;
}

.event h2 {
   text-transform: uppercase;
   padding-left: 1rem;
}

/* Side ad for movember */
.side-ad {
    grid-area: side-ad;
    width: 40rem;
    margin-left: 20rem;
    padding: 2rem;
    background: var(--primary);
    text-align: center;
    font-family: 'Anton';
}

.side-ad h2 {
    color: var(--light);
    font-size: 5rem;
    text-transform: uppercase;
}

.h1-1 {
    padding: 1rem;
}

 .h1-2 {
    padding: 1rem;
 }
.side-ad h3 {
    color: var(--light);
    font-size: 3rem;
    text-transform: uppercase;
}

.h3-1 {
    padding: 1rem;
}
.h3-2 {
    padding-bottom: 1rem;
}

.side-ad i {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    color: var(--light);
}
.second-p {
    grid-area: second-p;
    display: flex;
    flex-flow: wrap;
    /* width: 40rem; */
    background:var(--light);
}

.side-ad .mo {
    animation-name: zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-fill-mode: inherit;

}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

.shake {
    animation-name: shake;
    animation-duration: .7s;
}

.mo:hover {
    animation-name: shake;
    animation-duration: .7s;
}

.second-p p {
    width: 50rem;
    margin: 3rem;
}

.galway {
    margin-left: 1rem;
}

/* Gallery */
.gallery {
    /* background: lightgreen; */
    padding: .8rem;
    max-width: 113rem;
    margin: 0 auto;
    display: grid;
    gap: .8rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 16rem;
    grid-auto-flow: dense;


}

.gallery-head {
    color: var(--h);
    margin-left: 2rem;
}

.v-grid {
    grid-row: span 2;
}

.h-grid {
    grid-column: span 2;
}

.big-grid {
    grid-column: span 2;
    grid-row: span 2;
}

.bigger-grid {
    grid-column: span 3;
    grid-row: span 2;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Footer */

footer {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 20px;
    text-align: center;
    padding-bottom: 3rem;
    justify-content: center;
}

footer a {
    text-decoration: none;
}


footer .face {
    margin-top: 1rem;
}

footer .face .fa {
    color: #7F8487;    
    font-weight: 800;
    font-size: x-large;

    /* change color hover - because icon is a font changed the color but for the image i decieded to use 
    opacity. I guess i could opacity for both, it only came to me later*/
}
footer .face .fa:hover{
    color: #413F42;
}

footer .insta {
    margin-top: 1rem;
}

.fa-instagram { 
    color: #7F8487;    
    font-weight: 800;
    font-size: x-large;
}

.fa-instagram:hover {
    color: #413F42
}

footer .twit {
    margin-top: 1rem;
    
}

.fa-twitter {
    color: #7F8487;    
    font-weight: 800;
    font-size: x-large;
}

.fa-twitter:hover {
    color: #413F42;
}

.last-mo  {
    margin-top: 1rem;
    opacity: 0.7;
}


.last-mo:hover {
    opacity: 1;
}





/* screen sizes */
@media only screen and (max-width: 850px) {

    .logo ing {
        width: 6.5rem;
        height: auto;
    }

    .logo h1 {
        font-size: 2rem;
        color: aqua;
        display: flex;
        flex-direction: column;
    }
    
    
}