
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass:wght@400;800&display=swap');

* {
    margin: .25rem;
    padding: 0;
    border: none;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: 	#000;
    background-color: white;
}

header{
    background: grey;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

 /* logo and navigation */

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    font-weight: 400;
}

#logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 1.25rem;
    padding-block: .5rem;
    width: min(100%, 100rem);
    margin-inline: left;

}

.logo-col-span {
    grid-column-start: 2;
    grid-column-end: 3;
    list-style-type: none;
    
}


#menu {
    font-size: 110%;
    
    
}

#menu li {
    float: right;
    margin-right: 30px; 
}
