@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

}

/* header{
    background: white;
    color: #000;
    
   
} */

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* logo and header */

#grid-setup {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 1fr 50px; */
    background: white;
    color: #000;
    padding: 1em;


}

#col-1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-self: center;
}

/* .head-logo {
    grid-column: 1 / 2;
    place-self: start;
    place-self: center;
    padding-top: 6px;
    padding-left: 15px;
} */

/* I wanted animate the mustache when cursor hover over */
.head-logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds credit: https://www.w3schools.com/howto/howto_css_shake_image.asp*/
    animation: shake 0.5s;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* .logo-text-h1 {
    grid-column: 1 / 2;
    place-self: end;
    font-family: 'Anton', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.head-logo .logo-text-h1 {
    
} */


.logo-text-h3 {
    place-self: left;
    padding-top: 25px;
    padding-right: 40px;
   
}


/* Navigation bar  */
/* nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3em;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    font-weight: 550;
    
} */


nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li {
    display: inline;
    place-self: start;
    background-color: #ffff;
    text-align: center;
    line-height: 70px;
    width: 50%;
    margin: 0.625em;
    opacity: 0.7;
    transition: 0.7s;
    border-bottom: 2px solid transparent;
}

nav ul li:hover {
    background-color: whitesmoke;
    opacity: 1;
    border-bottom: 2px solid gray;
}

/* .home {
    background-color: red !important;
    grid-column: 3;
} */
/* add  drop down list to location on navbar  */
.dropdlist {

    overflow: hidden;
}

.dropdlist .drop-button {
    font-size: 16px;
    font-weight: inherit;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 0.2);
    z-index: 1;
}

.drop-content a {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 2px solid transparent;

}

.drop-content a:hover {
    background-color: #ddd;
    border-bottom: 2px solid gray;

}

.dropdlist:hover .drop-content {
    display: block;
}